%text-shadow {
    text-shadow: 0 0 30px $color-black, 0 0 15px $color-black, 0 0 5px $color-black;
}

%margin-bottom-lg {
    margin-bottom: 80px;
}


%section-buttons {
    float: right;
    color: $color-light;
    border-color: lighten($color: $color-accent, $amount: 17%) ;
    background-color: lighten($color: $color-accent, $amount: 17%);
}